<div
  class="w-[355px] h-[504px] relative bg-secondary opacity-80 rounded-[40px] flex flex-col"
  [ngClass]="onTop ? 'top-[-50px] border-white border-2' : ''"
>
  <div
    class="pl-1 pt-6 left-5 top-[7px] absolute justify-center items-center inline-flex"
  >
    <div
      class="w-[304px] h-auto text-center underline text-white text-3xl font-light font-space"
    >
      {{ name }}
    </div>
    <div
      class="w-[275px] h-auto left-4 top-[90px] absolute text-center text-white text-3xl font-normal font-basker"
    >
      {{ prix }}
    </div>
    <div
      class="w-[275px] h-auto left-4 top-[130px] absolute text-center text-white text-xl font-normal font-basker"
    >
      Sans engagement
    </div>
  </div>
  <div
    class="pt-[35px] pb-[108px] left-[30px] top-[150px] absolute flex flex-col items-start"
  >
    <div class="flex justify-between pb-5">
      <img
        class="w-auto h-auto pr-2"
        src="../../../../assets/imgs/checked.png"
      />
      <div class="w-auto h-auto text-white text-xl font-normal font-inter flex">
        {{ avantage1 }}
      </div>
    </div>
    <div class="flex justify-between pb-5">
      <img
        class="w-auto h-auto pr-2"
        src="../../../../assets/imgs/checked.png"
      />
      <div
        class="w-auto h-auto text-white text-[18px] font-normal font-inter flex"
      >
        {{ avantage2 }}
      </div>
    </div>
    <div class="flex justify-between pb-5">
      <img
        class="w-auto h-auto pr-2"
        src="../../../../assets/imgs/checked.png"
      />
      <div class="w-auto h-auto text-white text-xl font-normal font-inter flex">
        {{ avantage3 }}
      </div>
    </div>
  </div>
  <div class="relative w-[200px] h-auto top-[300px]">
    <button
      class="text-primary hover:text-white font-baskerIta text-[8px] px-4 py-2 top-20 left-20 inline-block relative md:text-xl border-primary hover:border-white border-2 md:border-2 rounded-full bg-white hover:bg-blue transition-all duration-300"
    >
      Commencer maintenant
    </button>
  </div>
</div>
