<div class="relative container w-full h-auto top-8" id="contactSection">
  <div class="relative w-[60%] h-auto left-[22%] pt-10 text-center">
    <span class="text-white text-xl font-light font-space"
      >Contactons-nous</span
    >
  </div>

  <div class="flex flex-col md:flex-row">
    <div
      class="w-[90%] h-[30rem] relative left-6 bg-white rounded-[50px] top-10"
    >
      <div
        class="left-[35%] top-[10px] w-[30%] h-auto absolute bg-white align-middle justify-start"
      >
        <div
          class="w-[100%] h-[20%] text-center py-8 text-primary text-xl font-light font-space"
        >
          Planifiez votre séance
        </div>
      </div>
      <!-- Début de widget en ligne Calendly -->
      <div
        class="calendly-inline-widget w-[80%] h-[20rem] left-10 top-32 relative"
        data-url="https://calendly.com/parlonsbilingue"
      ></div>
      <!-- Fin de widget en ligne Calendly -->
    </div>
    <!-- TODO: Responsive mobile à terminer -->
    <div
      class="w-[90%] h-[30rem] top-12 relative bg-white rounded-[50px] left-6"
    >
      <div
        class="left-[25%] top-[10px] w-[50%] h-auto absolute bg-white align-middle justify-start"
      >
        <div
          class="w-[100%] h-[20%] text-center py-8 text-primary text-xl font-light font-space"
        >
          Ou contactez-moi
        </div>
      </div>
      <div class="flex flex-col top-24 absolute w-[80%]">
        <img
          class="w-[30%] h-auto relative left-2 top-[20%] rounded-[50px]"
          src="../../../assets/imgs/photo_contact.png"
        />
        <div
          class="w-[40%] h-auto text-center text-primary text-xs left-2 top-2 font-normal relative font-inter"
        >
          Vous avez des questions ? Je suis là pour y répondre et vous fournir
          des informations supplémentaires pour vous guider dans votre parcours
          d'apprentissage linguistique. Je réponds vos demandes dans les plus
          brefs délais. Je suis impatient de vous aider à atteindre vos
          objectifs !
        </div>
      </div>
      <div
        class="w-[340px] h-[500px] absolute bg-white rounded-[50px] border-2 border-blue left-[40%] top-[120px]"
      >
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <div class="flex flex-row">
            <div class="relative left-5 top-10">
              <label for="name" class="text-xl text-primary font-space"
                >Nom</label
              >
              <div>
                <input
                  type="text"
                  id="name"
                  formControlName="name"
                  required
                  class="w-[100px] h-[30px] pl-[19px] pr-[29px] py-3 bg-opacity-40 rounded-[20px] justify-start items-center inline-flex bg-blue outline-none text-primary border-none focus:border-none text-sm font-normal font-['Inter']"
                />
              </div>
            </div>
            <div class="relative left-10 top-10">
              <label for="email" class="text-xl text-primary font-space"
                >Email</label
              >
              <div>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  required
                  class="w-[170px] h-[30px] pl-[19px] pr-[29px] py-3 bg-opacity-40 rounded-[20px] justify-start items-center inline-flex bg-blue outline-none text-primary border-none focus:border-none text-sm font-normal font-['Inter']"
                />
              </div>
            </div>
          </div>
          <div class="relative left-5 top-14">
            <label for="subject" class="text-xl text-primary font-space"
              >Objet de la demande</label
            >
            <div>
              <input
                type="text"
                id="subject"
                formControlName="subject"
                required
                class="w-[300px] h-[30px] pl-[19px] pr-[29px] py-3 bg-opacity-40 rounded-[20px] justify-start items-center inline-flex bg-blue outline-none text-primary border-none focus:border-none text-sm font-normal font-['Inter']"
              />
            </div>
          </div>
          <div class="relative left-5 top-16">
            <label for="message" class="text-xl text-primary font-space"
              >Message</label
            >
            <div>
              <textarea
                type="text"
                id="message"
                formControlName="message"
                required
                class="resize-none w-[300px] h-[230px] pl-[19px] pr-[29px] py-3 bg-opacity-40 rounded-[20px] justify-start bg-blue outline-none text-primary border-none focus:border-none text-lg font-normal font-['Inter']"
              ></textarea>
            </div>
          </div>
          <button
            (click)="submitForm()"
            type="submit"
            class="text-white font-space text-sm px-4 py-2 top-16 left-32 inline-block relative md:text-lg border-primary hover:border-white border-2 md:border-2 rounded-full bg-blue hover:bg-primary transition-all duration-300"
          >
            Envoyer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
