<div class="relative w-full h-[700px] bg-cover">
  <img
    src="../../../assets/imgs/img-lancez-vous.png"
    alt=""
    class="absolute w-full h-auto"
  />
  <img
    src="../../../assets/imgs/logo.jpeg"
    alt="Logo parlons bilingue"
    class="absolute p-6 h-auto w-32 md:w-56 opacity-75"
  />
  <div class="w-[604px] h-[389px] text-center absolute top-[200px]">
    <span class="text-white text-5xl font-light font-space"
      >Prêt à devenir bilingue ? <br /></span
    ><span class="text-blue text-5xl font-normal font-baskerIta"
      >Lancez-vous</span
    >
  </div>
  <div class="absolute top-44 md:top-80 left-6 md:left-56">
    <button-large [textButton]="textJeMeLance"></button-large>
  </div>
</div>
<div class="h-[120px]"></div>
<app-nav [isTarif]="true"></app-nav>
<div
  class="w-[346px] h-[135px] text-center relative top-[200px] left-[400px] text-white text-3xl font-light font-space"
>
  De vrais progrès dès le 1er mois
</div>
<div class="relative top-[230px] left-5 w-[500px] h-auto">
  <img class="rounded-[101px]" src="../../../assets/imgs/success-img.png" />
</div>
<div
  class="w-[640px] h-[523px] left-[560px] absolute text-center text-white font-basker text-2xl"
>
  Saviez-vous que le
  <span class="font-baskerIta text-blue text-2xl">
    taux de rétention des connaissances
  </span>
  peut atteindre
  <span class="font-baskerIta text-blue text-2xl"> 75 à 80% </span> en quelques
  semaines de pratique contre 20 à 30% avec l'apprentissage théorique ? C'est
  pourquoi avec la méthode pratique de parlons bilingue,
  <span class="font-baskerIta text-blue text-2xl"
    >vous progresserez beaucoup plus vite que vous ne l'imagineriez.</span
  >
  Découvrez ce que je vous propose pour atteindre vos objectifs.
</div>
<div class="relative left-[50px] top-[500px] flex space-x-10">
  <tarif-element [name]="etudiant" [prix]="tarifEtudiant"></tarif-element>
  <tarif-element
    [name]="illimite"
    [prix]="tarifIllimite"
    [onTop]="true"
  ></tarif-element>
  <tarif-element
    [name]="surMesure"
    [prix]="tarifSurMesure"
    [avantage2]="avantage2SurMesure"
  ></tarif-element>
</div>

<div
  class="w-[650px] h-[730px] relative bg-white rounded-[50px] left-[330px] top-[650px]"
  id="contactSection"
>
  <div
    class="pl-[18px] pr-9 pt-px left-[100px] top-[10px] absolute bg-white align-middle rounded-[20px] border-2 border-blue justify-start items-center inline-flex"
  >
    <div
      class="w-[377px] h-[100px] text-center py-8 px-9 text-primary text-xl font-light font-space"
    >
      Planifiez votre séance
    </div>
  </div>
  <!-- Début de widget en ligne Calendly -->
  <div
    class="calendly-inline-widget w-[600px] h-[500px] relative top-[150px]"
    data-url="https://calendly.com/parlonsbilingue"
  ></div>
  <!-- Fin de widget en ligne Calendly -->
</div>

<div class="relative w-full h-60 top-[600px]"></div>
