<div class="relative w-full h-auto bg-cover">
  <img
    src="../../../assets/imgs/logo.jpeg"
    alt="Logo parlons bilingue"
    class="absolute p-4 w-28 md:p-9 md:w-80 h-auto opacity-75"
  />
  <img
    src="../../../assets/imgs/img-lancez-vous.png"
    alt=""
    class="max-w-full"
  />
  <div
    class="absolute container w-[40%] md:w-1/4 left-4 md:left-6 pl-2 h-[15%] md:h-[35%] top-20 md:top-56 rounded-xl bg-primary bg-opacity-50"
  >
    <h2 class="absolute text-left font-space text-xs md:text-5xl text-black">
      Prêts à devenir
      <span class="font-baskerIta text-white"> bilingue </span> ?
      <span class="font-baskerIta text-white"> Lancez-vous !</span>
    </h2>
  </div>
  <div class="absolute top-32 md:top-[60%] left-6 md:left-56">
    <button-large
      [sectionSource]="sectionSourceTarifMsg"
      [textButton]="textJeMeLance"
    ></button-large>
  </div>
</div>
<app-nav [isTarif]="true"></app-nav>
<div
  id="messageTarif"
  class="w-[70%] h-[20%] text-center relative pt-9 left-[15%] text-white text-xl font-light font-space"
>
  De vrais progrès dès le 1er mois
</div>
<div class="flex flex-col items-center">
  <div class="relative top-[20%] w-[70%] h-auto">
    <img class="rounded-[101px]" src="../../../assets/imgs/success-img.png" />
  </div>
  <div class="w-[90%] h-[30%] text-center pt-5 text-white font-basker text-sm">
    Saviez-vous que le
    <span class="font-baskerIta text-blue text-sm">
      taux de rétention des connaissances
    </span>
    peut atteindre
    <span class="font-baskerIta text-blue text-sm"> 75 à 80% </span> en quelques
    semaines de pratique contre 20 à 30% avec l'apprentissage théorique ? C'est
    pourquoi avec la méthode pratique de parlons bilingue,
    <span class="font-baskerIta text-blue text-sm"
      >vous progresserez beaucoup plus vite que vous ne l'imagineriez.</span
    >
    Découvrez ce que je vous propose pour atteindre vos objectifs.
  </div>
</div>
<div
  class="relative left-[20%] pt-5 flex flex-col md:flex-row space-y-10 md:space-x-10"
>
  <tarif-element [name]="etudiant" [prix]="tarifEtudiant"></tarif-element>
  <tarif-element
    [name]="illimite"
    [prix]="tarifIllimite"
    [onTop]="true"
  ></tarif-element>
  <tarif-element
    [name]="surMesure"
    [prix]="tarifSurMesure"
    [avantage2]="avantage2SurMesure"
  ></tarif-element>
</div>

<div
  class="w-[650px] h-[730px] relative bg-white rounded-[50px] left-[330px] top-[650px]"
  id="contactSection"
>
  <div
    class="pl-[18px] pr-9 pt-px left-[100px] top-[10px] absolute bg-white align-middle rounded-[20px] justify-start items-center inline-flex"
  >
    <div
      class="w-[377px] h-[100px] text-center py-8 px-9 text-primary text-xl font-light font-space"
    >
      Planifiez votre séance
    </div>
  </div>
  <!-- Début de widget en ligne Calendly -->
  <div
    class="calendly-inline-widget w-[600px] h-[500px] relative top-[150px]"
    data-url="https://calendly.com/parlonsbilingue"
  ></div>
  <!-- Fin de widget en ligne Calendly -->
</div>
