<div class="relative w-full h-[500px] bg-cover">
  <img
    src="../../../assets/imgs/img-lancez-vous.png"
    alt=""
    class="absolute w-full h-auto"
  />
  <img
    src="../../../assets/imgs/logo.jpeg"
    alt="Logo parlons bilingue"
    class="absolute p-6 h-auto w-32 md:w-56 opacity-75"
  />
  <div class="w-[604px] h-[389px] text-center absolute top-[200px]">
    <span class="text-white text-5xl font-light font-space"
      >Prêt à devenir bilingue ? <br /></span
    ><span class="text-blue text-5xl font-normal font-baskerIta"
      >Lancez-vous</span
    >
  </div>
  <div class="absolute top-44 md:top-80 left-6 md:left-56">
    <button-large [textButton]="textJeMeLance"></button-large>
  </div>
</div>
<div
  class="w-[346px] h-[135px] text-center relative top-[400px] left-[400px] text-white text-3xl font-light font-space"
>
  De vrais progrès dès le 1er mois
</div>
<div class="relative top-[400px] left-5">
  <img
    class="w-auto h-auto rounded-[101px]"
    src="../../../assets/imgs/success-img.png"
  />
</div>
<div
  class="w-[450px] h-[523px] left-[730px] top-[90px] relative text-center text-white font-basker text-2xl"
>
  Saviez-vous que le
  <span class="font-baskerIta text-blue text-2xl">
    taux de rétention des connaissances
  </span>
  peut atteindre
  <span class="font-baskerIta text-blue text-2xl"> 75 à 80% </span> en quelques
  semaines de pratique contre 20 à 30% avec l'apprentissage théorique ? C'est
  pourquoi avec la méthode pratique de parlons bilingue,
  <span class="font-baskerIta text-blue text-2xl"
    >vous progresserez beaucoup plus vite que vous ne l'imagineriez</span
  >
  Découvrez ce que je vous propose pour atteindre vos objectifs.
</div>
