<div class="relative h-[800px] w-[100%]">
  <div class="w-[500px] h-[523px] left-[50px] top-[206px] absolute text-center">
    <span class="text-white text-2xl font-normal font-['Inter']"
      >🚀 Préparez-vous à embarquer pour une </span
    ><span class="text-blue text-3xl font-normal font-['Baskervville']"
      >aventure</span
    ><span class="text-white text-2xl font-normal font-['Inter']">
      linguistique </span
    ><span class="text-blue text-3xl font-normal font-['Baskervville']"
      >passionnante</span
    ><span class="text-white text-2xl font-normal font-['Inter']">
      ! 🚀<br /><br />Je suis là pour vous ! Je vous propose une expérience
      d'apprentissage </span
    ><span class="text-blue text-3xl font-normal font-['Baskervville']"
      >unique</span
    ><span class="text-white text-2xl font-normal font-['Inter']">, </span
    ><span class="text-blue text-3xl font-normal font-['Baskervville']"
      >dynamique</span
    ><span class="text-white text-2xl font-normal font-['Inter']">, </span
    ><span class="text-blue text-3xl font-normal font-['Baskervville']"
      >interactive</span
    ><span class="text-white text-2xl font-normal font-['Inter']"> et </span
    ><span class="text-blue text-3xl font-normal font-['Baskervville']"
      >bienveillante</span
    ><span class="text-white text-2xl font-normal font-['Inter']">
      pour vous aider à atteindre vos objectifs linguistiques.</span
    >
  </div>
  <img
    class="w-[612px] h-[408px] left-[600px] top-[170px] absolute rounded-[101px]"
    src="../../../assets/imgs/image_service.png"
  />
  <div class="relative w-[400px] h-[123px] top-[740px] left-4 text-left z-20">
    <span class="text-blue text-4xl font-normal font-['Baskervville']"
      >Parlons Bilingue</span
    ><span class="text-white text-2xl font-light font-space">
      en quelques mots...</span
    >
  </div>
  <div
    class="container w-[65%] h-[65%] absolute rounded-[50px] top-[720px] right-[5%] bg-black"
  ></div>
  <div class="relative container w-[35%] h-[50%] top-[740px] flex flex-col">
    <div class="flex flex-row items-center">
      <img
        class="relative w-[115px] h-[115px] left-10 pb-4"
        src="../../../assets/imgs/Zoom-icon.png"
      />
      <div class="container w-[20%]">
        <p class="relative text-white font-inter left-28 text-xl">
          Séances sur zoom
        </p>
      </div>
    </div>
    <div class="flex flex-row items-center">
      <img
        class="relative w-[115px] h-[115px] left-10 pb-4"
        src="../../../assets/imgs/Forward_30_Line.png"
      />
      <div class="container w-[20%]">
        <p class="relative text-white font-inter left-28 text-xl">
          Séances de 30 minutes
        </p>
      </div>
    </div>
    <div class="flex flex-row items-center">
      <img
        class="relative w-[115px] h-[115px] left-10 pb-4"
        src="../../../assets/imgs/Logo_wechat.png"
      />
      <div class="container w-[20%]">
        <p class="relative text-white font-inter left-28 text-xl">
          Classes individuelles
        </p>
      </div>
    </div>
    <div class="pl-28">
      <button
        class="bg-white text-primary hover:text-white font-baskerIta text-[8px] md:text-xl border-primary w-[40%] h-14 border-2 md:border-2 rounded-full hover:bg-blue transition-all duration-300"
      >
        {{ textLance }}
      </button>
    </div>
  </div>
</div>
