<div class="flex flex-row pl-3 md:justify-center items-center pt-10 md:pt-24">
  <div
    class="w-[40%] md:w-[40%] h-[30%] md:h-[45%] left-1 md:left-1 relative text-center"
  >
    <span class="text-white text-sm md:text-2xl font-inter"
      >🚀 Préparez-vous à embarquer pour une </span
    ><span class="text-blue text-sm md:text-3xl font-baskerIta">aventure</span
    ><span class="text-white text-sm md:text-2xl font-inter">
      linguistique </span
    ><span class="text-blue text-sm md:text-3xl font-baskerIta"
      >passionnante</span
    ><span class="text-white text-sm md:text-2xl font-inter">
      ! 🚀<br />Je suis là pour vous ! Je vous propose une expérience
      d'apprentissage </span
    ><span class="text-blue text-sm md:text-3xl font-baskerIta">unique</span
    ><span class="text-white text-sm md:text-2xl font-inter">, </span
    ><span class="text-blue text-sm md:text-3xl font-baskerIta">dynamique</span
    ><span class="text-white text-sm md:text-2xl font-inter">, </span
    ><span class="text-blue text-sm md:text-3xl font-baskerIta"
      >interactive</span
    ><span class="text-white text-sm md:text-2xl font-inter"> et </span
    ><span class="text-blue text-sm md:text-3xl font-baskerIta"
      >bienveillante</span
    ><span class="text-white text-sm md:text-2xl font-inter">
      pour vous aider à atteindre vos objectifs linguistiques.</span
    >
  </div>
  <img
    class="w-[40%] h-auto rounded-md md:rounded-[101px] pl-10"
    src="../../../assets/imgs/image_service.png"
  />
</div>
<div
  class="relative w-[70%] h-[20%] top-[10%] pt-3 md:pt-14 pl-[30%] pb-3 text-left z-20"
  id="serviceSection"
>
  <span class="text-blue text-sm md:text-3xl font-normal font-baskerIta"
    >Parlons Bilingue</span
  ><span class="text-white text-sm md:text-2xl font-light font-inter">
    en quelques mots...</span
  >
</div>
<div class="flex items-center">
  <div
    class="relative container w-[45%] h-[50%] pl-5 md:left-[60px] flex flex-col"
  >
    <div class="flex flex-row items-center">
      <img
        class="relative left-10 pb-8 w-11 md:w-24 h-auto"
        src="../../../assets/imgs/Zoom-icon.png"
      />
      <div class="container w-[20%]">
        <p class="relative text-white font-inter left-14 text-sm md:text-xl">
          Séances sur zoom
        </p>
      </div>
    </div>
    <div class="flex flex-row items-center">
      <img
        class="relative left-10 pb-8 w-11 md:w-24 h-auto"
        src="../../../assets/imgs/Forward_30_Line.png"
      />
      <div class="container w-[20%]">
        <p class="relative text-white font-inter left-14 text-sm md:text-xl">
          Séances de 30 minutes
        </p>
      </div>
    </div>
    <div class="flex flex-row items-center">
      <img
        class="relative left-10 pb-10 w-11 md:w-24 h-auto"
        src="../../../assets/imgs/Logo_wechat.png"
      />
      <div class="container w-[20%]">
        <p class="relative text-white font-inter left-14 text-sm md:text-xl">
          Classes individuelles
        </p>
      </div>
    </div>
    <div class="flex flex-row items-center">
      <img
        class="relative left-10 pb-8 w-11 md:w-24 h-auto"
        src="../../../assets/imgs/thumb-up.png"
      />
      <div class="container w-[30%]">
        <p class="relative text-white font-inter left-14 text-sm md:text-xl">
          Premier cours gratuit
        </p>
      </div>
    </div>
  </div>
  <img
    class="max-md:hidden md:w-[40%] h-auto md:relative md:rounded-[101px]"
    src="../../../assets/imgs/img_svc.png"
  />
</div>
