<section class="bg-primary">
  <div class="w-[1919px] h-[984px] relative">
    <div
      class="container w-[500px] h-[523px] left-[50px] top-[206px] absolute text-center"
    >
      <span class="text-white text-[28px] font-normal font-['Inter']"
        >🚀 Préparez-vous à embarquer pour une </span
      ><span class="text-blue text-[30px] font-normal font-['Baskervville']"
        >aventure</span
      ><span class="text-white text-[28px] font-normal font-['Inter']">
        linguistique </span
      ><span class="text-blue text-[30px] font-normal font-['Baskervville']"
        >passionnante</span
      ><span class="text-white text-[28px] font-normal font-['Inter']">
        ! 🚀<br /><br />Je suis là pour vous ! Je vous propose une expérience
        d'apprentissage </span
      ><span class="text-blue text-[30px] font-normal font-['Baskervville']"
        >unique</span
      ><span class="text-white text-[28px] font-normal font-['Inter']">, </span
      ><span class="text-blue text-[30px] font-normal font-['Baskervville']"
        >dynamique</span
      ><span class="text-white text-[28px] font-normal font-['Inter']">, </span
      ><span class="text-blue text-[30px] font-normal font-['Baskervville']"
        >interactive</span
      ><span class="text-white text-[28px] font-normal font-['Inter']">
        et </span
      ><span class="text-blue text-[30px] font-normal font-['Baskervville']"
        >bienveillante</span
      ><span class="text-white text-[28px] font-normal font-['Inter']">
        pour vous aider à atteindre vos objectifs linguistiques.</span
      >
    </div>
    <img
      class="w-[612px] h-[408px] left-[600px] top-[240px] absolute rounded-[101px]"
      src="../../../assets/imgs/image_service.png"
    />
  </div>
</section>
