<div
  class="relative left-28 pt-[10%] md:left-16 h-[100%] items-center w-[100%] flex-col"
>
  <div
    class="w-[50%] md:w-[60%] h-[100%] bg-black bg-opacity-40 rounded-[60px] overflow-hidden"
  >
    <img class="w-[100%] h-[50%] rounded-lg top-0" src="{{ srcImage }}" />
    <div class="w-[100%] h-[40%] text-center">
      <span class="text-white text-xs md:text-xl font-bold font-space"
        >{{ stepTitle }} <br /> </span
      ><span class="text-white text-xs md:text-lg font-light font-space">{{
        stepDesc
      }}</span>
    </div>
  </div>
</div>
