<div class="relative top-[1100px] left-[350px] h-[800px] items-center w-[100%]">
  <div
    class="w-[560px] h-[537px] relative bg-secondary rounded-[60px] overflow-hidden"
  >
    <img
      class="w-[560px] h-[210px] rounded-lg top-0 absolute"
      src="../../../assets/imgs/step1.png"
    />
    <div class="w-[560px] h-[290px] top-[261px] absolute text-center">
      <span class="text-white text-3xl font-bold font-['Space Grotesk']"
        >Etape 1 : Choisissez <br /></span
      ><span class="text-white text-[25px] font-light font-['Space Grotesk']"
        >Choisissez l’offre qui vous convient parmis l’offre étudiante, bilingue
        et sur-mesure</span
      >
    </div>
    <div
      class="w-[374px] h-[109px] left-[93px] top-[391px] absolute bg-blue-500 rounded-[50px] justify-center items-center inline-flex"
    >
      <button
        class="w-[279px] h-[74px] bg-blue hover:bg-primary transition-all duration-300 border-2 border-primary hover:border-white rounded-full text-center text-white text-[25px] font-space"
      >
        Les tarifs
      </button>
    </div>
  </div>
</div>
