<div class="relative top-[1100px] h-[800px] items-center w-[100%]">
  <div class="w-[960px] h-[637px] relative bg-slate-400 rounded-[60px]">
    <img
      class="w-[969px] h-[210px] left-[-9px] top-0 absolute"
      src="https://via.placeholder.com/969x210"
    />
    <div
      class="w-[931px] h-[290px] left-[14px] top-[201px] absolute text-center"
    >
      <span class="text-white text-6xl font-bold font-['Space Grotesk']"
        >Etape 1 : Choisissez <br /></span
      ><span class="text-white text-[40px] font-light font-['Space Grotesk']"
        >Choisissez l’offre qui vous convient parmis l’offre étudiante, bilingue
        et sur-mesure</span
      >
    </div>
    <div
      class="w-[374px] h-[109px] pt-[18px] pb-[17px] left-[293px] top-[491px] absolute bg-blue-500 rounded-[50px] justify-center items-center inline-flex"
    >
      <div
        class="w-[479px] h-[74px] text-center text-white text-[40px] font-light font-['Space Grotesk']"
      >
        Les tarifs
      </div>
    </div>
  </div>
</div>
