<div
  class="relative container mx-auto w-full h-[300px] bg-hero-img bg-cover top-[500px]"
>
  <img class="w-full h-auto" src="../../../assets/imgs/hero-image.png" />
  <div class="absolute inset-0 flex items-center justify-center top-[330px]">
    <div
      class="container bg-primary justify-center opacity-70 w-[700px] h-[200px] rounded-lg"
    >
      <p class="text-white font-space text-6xl text-center pt-7">
        <span class="font-baskerIta text-6xl text-blue"> Apprendre </span>
        n'aura jamais été aussi
        <span class="font-baskerIta text-6xl text-blue"> simple </span>
      </p>
    </div>
  </div>
  <div class="container top-[350px] right-[20%]"></div>
</div>
