<div class="bg-white relative container w-full h-auto top-10">
  <div
    class="relative w-[40%] h-[50%] left-[35%] pt-10 text-center"
    id="sectionAbout"
  >
    <span class="text-primary text-3xl font-light font-space"
      >Découvrez votre </span
    ><span class="text-blue text-3xl font-normal font-baskerIta"
      >formateur</span
    >
  </div>
  <div
    class="w-[100%] h-auto pt-10 pl-12 flex flex-col align-middle md:flex-row relative"
  >
    <div
      class="relative w-[80%] h-[25%] grow-0 pt-2 border-2 bg-white border-blue rounded-xl flex-col justify-end items-center gap-10 inline-flex"
    >
      <div class="w-44 h-64 pl-4 overflow-hidden">
        <img
          src="../../../assets/imgs/Avatar.png"
          alt="Avatar"
          class="w-[100%] h-auto object-fill"
        />
      </div>
      <div class="w-[40%] h-auto relative text-center">
        <span class="text-primary text-lg font-bold font-basker"
          >Eddy<br /></span
        ><span class="text-primary text-sm font-inter"
          >formateur expérimenté</span
        >
      </div>
    </div>
    <div class="w-[10rem] h-[10rem] left-[20%] top-12 relative">
      <div
        class="w-[100%] h-[100%] absolute bg-white rounded-full border-8 border-blue"
      ></div>
      <div class="w-[40%] h-auto left-[30%] top-[5%] absolute text-center">
        <span class="text-primary text-4xl font-basker">8<br /></span
        ><span class="text-primary text-sm font-inter"
          >Années d’expérience de formateur</span
        >
      </div>
    </div>
    <div class="w-[15rem] h-[15rem] top-14 relative">
      <div
        class="w-[70%] h-[70%] absolute left-[30%] bg-white rounded-full border-8 border-blue"
      ></div>
      <div class="w-[40%] h-auto left-[45%] top-[5%] absolute text-center">
        <span class="text-primary text-4xl font-basker">2<br /></span
        ><span class="text-primary text-xs font-inter"
          >Années d'enseignement en immersion au Canada</span
        >
      </div>
    </div>
  </div>

  <div
    class="flex flex-row left-10 space-x-10 items-center w-[80%] h-auto relative"
  >
    <div class="w-[10%] h-auto">
      <img src="../../../assets/imgs/USA.png" alt="USA flag" />
    </div>
    <div class="w-[10%] h-auto">
      <img
        class="w-10 h-auto"
        src="../../../assets/imgs/right-arrow.png"
        alt="right arrow"
      />
    </div>
    <div class="w-[10%] h-auto">
      <img src="../../../assets/imgs/CA.png" alt="Canada flag" />
    </div>
    <div class="w-[10%] h-auto">
      <img
        class="w-10 h-auto"
        src="../../../assets/imgs/right-arrow.png"
        alt="right arrow"
      />
    </div>
    <div class="w-[10%] h-auto">
      <img src="../../../assets/imgs/FR.png" alt="France flag" />
    </div>
  </div>
  <div class="flex flex-row items-center left-0 w-auto h-auto relative">
    <div
      class="w-[40%] h-auto text-center text-primary text-sm font-normal font-inter relative"
    >
      Formation en immersion
    </div>
    <div
      class="w-[45%] h-auto text-center text-primary text-sm font-normal font-inter relative"
    >
      Mission humanitaire d’enseignement 2 ans
    </div>
    <div
      class="w-[40%] h-auto text-center text-primary text-sm font-normal font-inter relative"
    >
      <span class="font-baskerIta text-blue text-sm"> formateur</span>
      et <span class="font-baskerIta text-blue text-sm"> traducteur</span> lors
      d’événements
    </div>
  </div>
  <div class="w-[90%] h-auto text-center relative left-2 top-4">
    <span class="text-primary text-lg font-normal font-baskerIta"
      >“Grâce à mes expériences, je suis plus déterminé que jamais à continuer à
      partager mes connaissances et mon expertise avec vous !” </span
    ><span class="text-blue text-lg font-normal font-basker"> - </span
    ><span class="text-blue text-lg font-normal font-basker">
      Eddy <br /><br
    /></span>
  </div>
</div>
