<div class="bg-white relative container w-full h-auto top-10">
  <div
    class="relative w-[40%] h-[50%] left-[35%] pt-10 text-center"
    id="sectionAbout"
  >
    <span class="text-primary text-3xl font-light font-space"
      >Découvrez votre </span
    ><span class="text-blue text-3xl font-normal font-baskerIta"
      >formateur</span
    >
  </div>
  <div
    class="w-[100%] h-auto pt-10 max-md:pl-12 flex flex-col align-middle md:flex-row md:justify-center relative"
  >
    <div
      class="relative w-[80%] md:w-[20%] h-[20%] md:left-3 grow-0 pt-2 border-2 bg-white border-blue rounded-xl flex-col justify-end items-center gap-10 md:gap-0 inline-flex"
    >
      <div class="w-44 h-64 pl-4 md:pt-5 overflow-hidden">
        <img
          src="../../../assets/imgs/Avatar.png"
          alt="Avatar"
          class="w-[100%] h-auto object-fill"
        />
      </div>
      <div class="w-[40%] md:w-[40%] h-auto relative text-center md:pb-5">
        <span class="text-primary text-lg font-bold font-basker"
          >Eddy<br /></span
        ><span class="text-primary text-sm font-inter"
          >formateur expérimenté</span
        >
      </div>
    </div>
    <div
      class="w-[10rem] md:w-[15rem] h-[10rem] md:h-[15rem] left-[20%] md:left-[10%] top-12 relative"
    >
      <div
        class="w-[100%] h-[100%] absolute bg-white rounded-full border-8 border-blue"
      ></div>
      <div
        class="w-[40%] md:w-[60%] h-auto left-[30%] md:left-[20%] top-[5%] md:top-[20%] absolute text-center"
      >
        <span class="text-primary text-4xl md:text-5xl font-basker"
          >8<br /></span
        ><span class="text-primary text-sm md:text-lg font-inter"
          >Années d’expérience de formateur</span
        >
      </div>
    </div>
    <div
      class="w-[15rem] md:w-[15rem] h-[15rem] md:h-[15rem] top-14 md:top-12 relative"
    >
      <div
        class="w-[100%] h-[100%] absolute left-[30%] md:left-[60%] bg-white rounded-full border-8 border-blue"
      ></div>
      <div
        class="w-[40%] md:w-[60%] h-auto left-[30%] md:left-[80%] top-[5%] md:top-[15%] absolute text-center"
      >
        <span class="text-primary text-4xl md:text-5xl font-basker"
          >2<br /></span
        ><span class="text-primary text-xs md:text-lg font-inter"
          >Années d'enseignement en immersion au Canada</span
        >
      </div>
    </div>
  </div>

  <div
    class="flex flex-row left-10 md:left-0 space-x-10 md:space-x-14 items-center md:justify-center md:top-5 w-[80%] md:w-[100%] h-auto relative"
  >
    <div class="w-[10%] h-auto">
      <img src="../../../assets/imgs/USA.png" alt="USA flag" />
    </div>
    <div class="w-[10%] md:w-[5%] h-auto">
      <img
        class="w-10 h-auto"
        src="../../../assets/imgs/right-arrow.png"
        alt="right arrow"
      />
    </div>
    <div class="w-[10%] h-auto">
      <img src="../../../assets/imgs/CA.png" alt="Canada flag" />
    </div>
    <div class="w-[10%] md:w-[5%] h-auto">
      <img
        class="w-10 h-auto"
        src="../../../assets/imgs/right-arrow.png"
        alt="right arrow"
      />
    </div>
    <div class="w-[10%] h-auto">
      <img src="../../../assets/imgs/FR.png" alt="France flag" />
    </div>
  </div>
  <div
    class="flex flex-row md:justify-center left-0 md:left-[10%] w-auto md:w-[80%] h-auto md:h-[5rem] relative md:top-10"
  >
    <div
      class="w-[40%] md:w-[30%] h-auto text-center text-primary text-sm md:text-lg font-normal font-inter relative"
    >
      Formation en immersion
    </div>
    <div
      class="w-[45%] md:w-[30%] h-auto text-center text-primary text-sm md:text-lg font-normal font-inter relative"
    >
      Mission humanitaire d’enseignement 2 ans
    </div>
    <div
      class="w-[40%] md:w-[30%] h-auto text-center text-primary text-sm md:text-lg font-normal font-inter relative"
    >
      <span class="font-baskerIta text-blue text-sm md:text-lg">
        formateur</span
      >
      et
      <span class="font-baskerIta text-blue text-sm md:text-lg">
        traducteur</span
      >
      lors d’événements
    </div>
  </div>
  <div
    class="container w-[90%] md:w-[100%] h-auto md:h-[7rem] text-center align-middle relative left-2 top-10"
  >
    <span class="text-primary text-lg md:text-xl font-normal font-baskerIta"
      >“Grâce à mes expériences, je suis plus déterminé que jamais à continuer à
      partager mes connaissances et mon expertise avec vous !” </span
    ><span class="text-blue text-lg font-normal font-basker"> - </span
    ><span class="text-blue text-lg font-normal font-basker">
      Eddy <br /><br
    /></span>
  </div>
</div>
