<div class="bg-white relative container w-full h-auto top-[650px]">
  <div class="relative w-[400px] h-[100px] left-[30%] pt-20 text-center">
    <span class="text-primary text-3xl font-light font-space"
      >Découvrez votre </span
    ><span class="text-blue text-3xl font-normal font-baskerIta"
      >formateur</span
    >
  </div>
  <div class="w-auto h-[600px] pt-20 flex flex-row">
    <div
      class="relative w-[300px] h-[300px] left-[50px] grow-0 pt-10 pb-[33px] border-2 border-blue flex-col justify-end items-center gap-[51px] inline-flex"
    >
      <div class="w-32 h-56 overflow-hidden">
        <img
          src="../../../assets/imgs/Avatar.png"
          alt="Avatar"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-[209px] h-[32px] text-center">
        <span class="text-primary text-2xl font-bold font-space"
          >Eddy<br /></span
        ><span class="text-primary text-xl font-normal font-baskerIta"
          >formateur expérimenté</span
        >
      </div>
    </div>
    <div class="w-[300px] h-[300px] grow left-44 top-12 relative">
      <div
        class="w-[263px] h-[263px] absolute bg-white rounded-full border-8 border-blue"
      ></div>
      <div
        class="w-[208.39px] h-[101.58px] left-[25px] top-[15px] absolute text-center"
      >
        <span class="text-primary text-[100px] font-basker">8<br /></span
        ><span class="text-primary text-xl font-basker"
          >Années d’expérience de formateur</span
        >
      </div>
    </div>
    <div class="w-[250px] h-[250px] left-50 top-32 relative grow">
      <div
        class="w-[250px] h-[250px] left-0 top-0 absolute bg-white rounded-full border-8 border-blue"
      ></div>
      <div
        class="w-[208.39px] h-[101.58px] left-[20px] top-1 absolute text-center"
      >
        <span class="text-primary text-[90px] font-basker">2<br /></span
        ><span class="text-primary text-lg font-basker"
          >Années d'enseignement en immersion au Canada</span
        >
      </div>
    </div>
  </div>

  <div class="flex flex-row space-x-20 items-center w-auto h-auto relative">
    <div class="w-auto h-auto pl-20">
      <img src="../../../assets/imgs/USA.png" alt="USA flag" />
    </div>
    <div class="w-auto h-auto">
      <img
        class="w-24 h-auto"
        src="../../../assets/imgs/right-arrow.png"
        alt="right arrow"
      />
    </div>
    <div class="w-auto h-auto">
      <img src="../../../assets/imgs/CA.png" alt="Canada flag" />
    </div>
    <div class="w-auto h-auto">
      <img
        class="w-24 h-auto"
        src="../../../assets/imgs/right-arrow.png"
        alt="right arrow"
      />
    </div>
    <div class="w-auto h-auto">
      <img src="../../../assets/imgs/FR.png" alt="France flag" />
    </div>
  </div>
  <div class="flex flex-row space-x-20 items-center w-auto h-auto relative">
    <div
      class="w-[150px] h-auto text-center text-primary text-xl font-normal font-inter left-[75px] relative"
    >
      Formation en immersion
    </div>
    <div
      class="w-[200px] h-auto text-center text-primary text-xl font-normal font-inter left-[230px] relative"
    >
      Mission humanitaire d’enseignement 2 ans
    </div>
    <div
      class="w-[200px] h-auto text-center text-primary text-xl font-normal font-inter left-[360px] relative"
    >
      Retour en France
      <span class="font-baskerIta text-blue text-xl"> formateur</span>
      et <span class="font-baskerIta text-blue text-xl"> traducteur</span> lors
      d’événements
    </div>
  </div>
  <div class="w-[900px] h-[230px] text-center relative left-32 top-20">
    <span class="text-primary text-2xl font-normal font-baskerIta"
      >“Grâce à mes expériences, je suis plus déterminé que jamais à continuer à
      partager mes connaissances et mon expertise avec vous !” </span
    ><span class="text-blue text-2xl font-normal font-basker"> - </span
    ><span class="text-blue text-2xl font-normal font-basker"> Eddy </span>
  </div>
  <!-- TODO: transformer button en component shared CTA button -->
  <div class="w-auto h-[150px] relative left-[35%]">
    <button
      class="text-white font-baskerIta text-[8px] md:text-xl border-primary hover:border-white w-[300px] h-[80px] border-2 md:border-2 rounded-full bg-blue hover:bg-primary transition-all duration-300"
    >
      Allons-y !
    </button>
  </div>
</div>
