/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Baskervville";
    src: url("../assets/fonts/Baskervville-Regular.ttf");
  }
  @font-face {
    font-family: "Baskervville-ita";
    src: url("../assets/fonts/Baskervville-Italic.ttf");
  }
  @font-face {
    font-family: "SpaceGrotesk";
    src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "inter";
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  }
}

p {
  font-family: "SpaceGrotesk";
}
