<div class="bg-primary bg-opacity-50 p-4 rounded-lg shadow-md">
  <h3 class="text-lg font-bold font-space mb-2 text-center">Kassandra</h3>
  <div class="pr-1 pt-2 items-center text-center">2</div>
  <h4 class="text-lg font-space text-white font-bold text-center">
    "la progression est rapide sans l’impression de se sentir noyé"
  </h4>
  <p class="text-black font-baskerIta">
    "Je trouve la méthode excellente, la progression est rapide sans
    l’impression de se sentir noyé. L’ambiance des cours est conviviale. J’ai
    beaucoup aimé le professionnalisme et l’implication d’Eddy durant les cours.
    Il y’a un réel échange entre le professeur et l’élève."
  </p>
</div>
