<app-accueil-section></app-accueil-section>
<app-nav></app-nav>
<app-service-section></app-service-section>

<hero-section></hero-section>
<div class="flex flex-col gap-y-5 md:flex-row">
  <service-step-section
    [stepTitle]="titleStep1"
    [stepDesc]="descStep1"
    [stepButtonText]="textStepButton1"
    [srcImage]="imgSrc1"
    [hrefSource]="hrefSourceTarif"
  ></service-step-section>
  <service-step-section
    [stepTitle]="titleStep2"
    [stepDesc]="descStep2"
    [stepButtonText]="textStepButton2"
    [srcImage]="imgSrc2"
    [sectionSource]="sectionSourceContact"
  ></service-step-section>
  <service-step-section
    [stepTitle]="titleStep3"
    [stepDesc]="descStep3"
    [stepButtonText]="textStepButton3"
    [srcImage]="imgSrc3"
    [hrefSource]="hrefSourceZoom"
  ></service-step-section>
</div>
<div class="relative left-[33%] md:left-[30%] pt-8">
  <button
    (click)="scrollToSection('contactSection')"
    class="bg-white text-primary hover:text-white font-baskerIta text-xs md:text-xl border-primary w-[40%] h-14 border-2 md:border-2 rounded-full hover:bg-blue transition-all duration-300"
  >
    Commencer maintenant
  </button>
</div>
<about></about>
<temoignages></temoignages>
<contact></contact>
