<app-accueil-section></app-accueil-section>

<app-nav></app-nav>
<section class="bg-primary">
  <div class="container mx-auto pt-28">
    <h1 class="text-3xl font-bold text-center">Contenu de la section</h1>
    <p class="mt-4 text-lg text-center">
      Ceci est le contenu de la section avec un fond de couleur différent.
    </p>
    <p class="mt-4 text-lg text-center">
      Ceci est le contenu de la section avec un fond de couleur différent.
    </p>
    <p class="mt-4 text-lg text-center">
      Ceci est le contenu de la section avec un fond de couleur différent.
    </p>
    <p class="mt-4 text-lg text-center">
      Ceci est le contenu de la section avec un fond de couleur différent.
    </p>
    <p class="mt-4 text-lg text-center">
      Ceci est le contenu de la section avec un fond de couleur différent.
    </p>
    <p class="mt-4 text-lg text-center">
      Ceci est le contenu de la section avec un fond de couleur différent.
    </p>
  </div>
</section>
<router-outlet />
