<app-accueil-section></app-accueil-section>

<app-nav></app-nav>
<app-service-section></app-service-section>

<hero-section></hero-section>
<div class="flex flex-col gap-y-3">
  <service-step-section
    [stepTitle]="titleStep1"
    [stepDesc]="descStep1"
    [stepButtonText]="textStepButton1"
    [srcImage]="imgSrc1"
  ></service-step-section>
  <service-step-section
    [stepTitle]="titleStep2"
    [stepDesc]="descStep2"
    [stepButtonText]="textStepButton2"
    [srcImage]="imgSrc2"
  ></service-step-section>
  <service-step-section
    [stepTitle]="titleStep3"
    [stepDesc]="descStep3"
    [stepButtonText]="textStepButton3"
    [srcImage]="imgSrc3"
  ></service-step-section>
</div>
<about></about>
<temoignages></temoignages>
<router-outlet />
