<div class="relative h-[500px]">
  <app-nav [isTarif]="true"></app-nav>

  <div class="absolute w-[300px] top-[130px] left-[40%]">
    <h1 class="text-white text-xl">Conditions générales de vente</h1>
  </div>
  <div class="absolute w-[750px] top-[170px] left-[20%] text-white">
    <p class="font-bold text-blue">Article 1 Objet</p>

    <p>
      Les conditions g&eacute;n&eacute;rales de ventes d&eacute;crites
      ci-apr&egrave;s d&eacute;taillent les droits et obligations de
      l&rsquo;entreprise PARLONSBILINGUE (EDDY MORALES) et de ses clients dans
      le cadre de la vente de formations et de coachings en ligne.
    </p>

    <p>
      Toute prestation accomplie par la micro-entreprise PARLONSBILINGUE (EDDY
      MORALES) implique l&rsquo;adh&eacute;sion sans r&eacute;serve de
      l&rsquo;acheteur aux pr&eacute;sentes conditions g&eacute;n&eacute;rales
      de vente.
    </p>

    <p class="font-bold text-blue">
      Article 2 Pr&eacute;sentation des services
    </p>

    <p>
      Les caract&eacute;ristiques des services propos&eacute;s &agrave; la vente
      sont pr&eacute;sent&eacute;es dans la rubrique &laquo; page d'accueil
      &raquo; et &quot;Tarifs&quot; du site. La responsabilit&eacute; de la
      micro-entreprise PARLONSBILINGUE (EDDY MORALES) ne peut &ecirc;tre
      engag&eacute;e si des erreurs s&rsquo;y sont introduites.
    </p>

    <p class="font-bold text-blue">
      Article 3 Dur&eacute;e de validit&eacute; des offres de vente
    </p>

    <p>
      Le suivi d&rsquo;une formation &agrave; distance est valable pendant un
      mois &agrave; compter de la date de facturation. Les offres proposent un
      nombre illimit&eacute; de s&eacute;ances (hors offre
      &quot;sur-mesure&quot;), il est de la responsabilit&eacute; de l'apprenant
      de planifier des sessions en fonction des disponibilit&eacute;s.
    </p>

    <p>
      Le formateur peut se r&eacute;server des semaines de vacances telles que
      No&euml;l. Si une semaine enti&egrave;re est bloqu&eacute;e, l'offre est
      prolong&eacute;e d'une semaine.
    </p>

    <p>
      Pour l'offre &quot;Etudiant&quot; un justificatif doit &ecirc;tre
      envoy&eacute; par couriel AVANT ACHAT &agrave; l'adresse e-mail :
      parlonsbilingue&#64;gmail.com
    </p>

    <p>
      Une carte &eacute;tudiante ou un certificat de scolarit&eacute; seront
      accept&eacute;s.
    </p>

    <p class="font-bold text-blue">Article 4 tarifs</p>

    <p>
      Les tarifs du site indiquent les prix en euros toutes taxes comprises. La
      TVA est non applicable (art 293B du CGI) en raison du r&eacute;gime de
      micro-entreprise.
    </p>

    <p class="font-bold text-blue">Article 5 Commande</p>

    <p>
      Le client valide sa commande lorsqu&rsquo;il active le lien
      &quot;payer&quot; en bas de la page &quot;Page de paiement&quot;
      apr&egrave;s avoir accept&eacute; les pr&eacute;sentes conditions de
      vente.
    </p>

    <p>
      La micro-entreprise PARLONSBILINGUE (EDDY MORALES) confirme la commande
      par courrier &eacute;lectronique (facture) dans un d&eacute;lais de 24h
      maximum ; cette information reprend notamment tous les
      &eacute;l&eacute;ments de la commande.
    </p>

    <p>
      Les donn&eacute;es enregistr&eacute;es par la micro-entreprise
      PARLONSBILINGUE (EDDY MORALES) constituent la preuve de la nature, du
      contenu et de la date de la commande. Celle-ci est archiv&eacute;e dans
      les conditions et les d&eacute;lais l&eacute;gaux; le client peut
      acc&eacute;der &agrave; cet archivage en contactant le service Relations
      Clients.
    </p>

    <p class="font-bold text-blue">Article 6 Modalit&eacute;s de paiement</p>

    <p>
      Le r&egrave;glement des achats s&rsquo;effectue par carte bancaire au
      moment de la commande.
    </p>

    <p class="font-bold text-blue">
      Article 7 D&eacute;lai de r&eacute;tractation
    </p>

    <p>
      Le droit de r&eacute;tractation est de 14 jours &agrave; compter de la
      date de facturation. Il doit &ecirc;tre notifier par courriel
      (parlonsbilingue&#64;gmail.com). Le remboursement sera effectu&eacute; par
      virement sous un d&eacute;lai de 30 jours maximum.
    </p>

    <p class="font-bold text-blue">
      Article 8 Relations clients &ndash; Service apr&egrave;s-vente
    </p>

    <p>
      Pour toute information, question ou r&eacute;clamation, le client peut
      s&rsquo;adresser par courriel au service Relations Clients de la
      soci&eacute;t&eacute;.
    </p>

    <p>E-mail : parlonsbilingue&#64;gmail.com</p>

    <p class="font-bold text-blue">Article 11 Donn&eacute;es personnelles</p>

    <p>
      Dans le cadre de la Loi Informatique et Libert&eacute;, l&rsquo;apprenant
      dispose d&rsquo;un droit d&rsquo;acc&egrave;s et rectification aux
      informations stock&eacute;es dans nos bases de donn&eacute;es.
    </p>
  </div>
</div>
